@mainColor: rgba(235, 132, 43, 1);
@header-height: 80px;
@bottom-height: 110px;
@cart-width: 330px;

@import "pizza/pizza-card";

* {
  font-family: "Trebuchet MS", serif;
}

.bottom-row {
  height: @bottom-height;
  width: 100%;
  padding-right: @cart-width;
}

#cart {
  display: inline-block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 11;
  box-shadow: rgba(0,0,0,.2) -3px 3px 10px;
  min-width: @cart-width;
  width: @cart-width;
  margin-left: 20px;
  margin-left: 20px;
  z-index: 20;

  #cart-header {
    width: @cart-width;
    height: 80px;
    padding: 25px 10px;
    background-color: white;
    position: fixed;
    z-index: 5;

    span {
      position: relative;
      left: 7px;
      color: black;
      font-size: 20px;
      font-weight: 600;

      .badge {
        position: relative;
        left: 0;
        background-color: @mainColor;
        color: white;
      }
    }

    .btn-default {
      background-color: white;
      color: #8b8b8b;
      border: 0;
      font-size: 11px;
      position: fixed;
      right: 10px;
      top: 17px;

      p {
        margin: 0;
      }
    }

  }

  .base {
    position: relative;
    top: 80px;
  }

  #orders {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .one-order {
    height: 120px;
    padding: 20px 61px 10px 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;

    .pic-cart {
      position: absolute;
      right: -48px;
      top: 15px;
      border-radius: 50% 0 0 50%;
      max-height: 96px;
      max-width: 96px;
    }

    p {
      margin-bottom: 3px;
    }

    .title-cart {
      font-size: 21px;
      color: @mainColor;
      font-weight: 500;
    }

    .size, .weight {
      margin-right: 10px;
      font-size: 11px;
    }

    .btn {
      font-weight: 600;
      width: 30px;
      height: 30px;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }

    .btn-default {
      background-color: antiquewhite;
      color: @mainColor;
      margin-left: 20px;
    }

    .label {
      background-color: transparent;
      color: black;
      font-size: 15px;
    }
  }

  .empty-cart {
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    margin-top: 40px;
  }

  #cart-bottom {
    width: @cart-width;
    background-color: white;
    position: fixed;
    padding: 10px;
    height: 100px;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    z-index: 5;

    #sum {
      position: fixed;
      left: auto;
      right: 15px;
    }

    #submit-order {
      position: relative;
      margin-top: 7px;
      left: 3px;
      width: @cart-width - 25px;
      color: white;
      background: linear-gradient(rgb(245, 175, 72), @mainColor);

      &:hover {
        background: linear-gradient(darken(rgb(245, 175, 72), 5%), darken(@mainColor, 5%));
      }

      &:active {
        background: linear-gradient(darken(rgb(245, 175, 72), 10%), darken(@mainColor, 10%));
        border-color: darken(@mainColor, 15%);
        color: white;
      }
    }

    #return-to-list {
      position: relative;
      margin-top: 7px;
      left: 3px;
      width: @cart-width - 25px;
      color: #111111;
      text-shadow: #676767;
      background: linear-gradient(rgb(242, 242, 242), #b5b5b5);
      border-color: darken(#b5b5b5, 5%);

      &:hover {
        background: linear-gradient(darken(rgb(242, 242, 242), 5%), darken(#b5b5b5, 5%));
      }

      &:active {
        background: linear-gradient(darken(rgb(242, 242, 242), 10%), darken(#b5b5b5, 10%));
        border-color: darken(#b5b5b5, 15%);
        color: #111111;
        text-shadow: #676767;
      }
    }
  }
}

#header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: @header-height;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  padding-right: 360px;

  span {
    position: relative;
    left: 15px + @header-height + 20px + 30px;
    top: 10px;
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
    padding-right: 30px;
  }

  p {
    position: relative;
    left: 15px + @header-height + 20px + 30px;
    color: white;
    font-size: 17px;
    top: -12px;
  }

  hr {
    position: relative;
    margin: 20px 70px 17px 130px;
  }

  a {
    float: right;
    position: relative;
    display: inline-block;
    top: 25px;
    right: -10px;
    background: linear-gradient(rgb(245, 175, 72), @mainColor);
    border-color: darken(@mainColor, 10%);
    color: white;

    &:hover {
      background: linear-gradient(darken(rgb(245, 175, 72), 5%), darken(@mainColor, 5%));
    }

    &:active {
      background: linear-gradient(darken(rgb(245, 175, 72), 10%), darken(@mainColor, 10%));
      border-color: darken(@mainColor, 15%);
      color: white;
    }
  }
}

#pizza_list{
  margin-top: 40px;

  .card {
    min-width: 240px;
    padding: 0px 7px 0px 7px;
  }
}

.discount {
  position: fixed;
  bottom: 0;
  left: 15px;
  width: @header-height + 20px;
  height: @header-height + 50px;
  background-color: @mainColor;
  border: 1px darken(@mainColor, 10%) solid;
  border-top: 0;
  color: white;
  text-align: center;

  img {
    position: fixed;
    bottom: @header-height + 50px;
    left: 15px;
  }

  p {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 0;
    margin: 0;
  }

  p:first-of-type {
    margin-top: 9px;
  }

  hr {
    position: relative;
    left: 8px;
    margin: 5px 0;
    width: @header-height;
    border: 1px dashed;
    color: darken(@mainColor, 10%);
  }
}

.bottom-row {
  width: 100%;
  height: 200px;
  padding-top: 40px;
  padding-right: 350px;
  text-align: center;
  font-size: 15px;
  color: #676767;
  background: rgb(240, 240, 240);
  border-top: #bfbfbf 1px solid;
}

.left-side {
  margin: auto;
  padding-left: 20px;
  padding-right: @cart-width + 30px;
  max-width: 1350px;
}

.main-container {
  background-color: #fffff5;
  padding-top: 80px;
}

.top-label {
  position: fixed;
  top: 0;
  left: 15px;
  background: @mainColor;
  border: 1px darken(@mainColor, 10%) solid;
  border-bottom: 0;
  width: @header-height + 20px;
  height: @header-height + 10px;
  color: white;
  text-align: center;
  font-weight: 600;

  h1 {
    margin-top: 9px;
    font-size: 23px;
  }

  h2 {
    margin: 0;
    font-size: 28px;
  }

  img {
    position: fixed;
    top: @header-height + 10px;
    left: 15px;
    transform: rotate(180deg);
  }
}

.top-row {
  margin-top: 30px;
  text-align: center;

  div {
    color: black;
    font-size: 25px;
    .badge {
      background-color: @mainColor;
    }
  }

  .btn {
    background: transparent;
    color: @mainColor;
  }

  .pressed {
    background: @mainColor;
    color: white;
  }

  .btn:hover {
    background: antiquewhite;
    color: @mainColor;
  }

  .pressed:hover {
    background: darken(@mainColor, 5%);
    color: white;
  }
}

.form-description {
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 700;
}

.form-group .form-horizontal {
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 15px;
}

.help-block {
  margin-left: 100px;
  color: #880a02;
}

.bs-callout {
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #fff;
}

.bs-callout-warning {
  border-left-color: @mainColor !important;
}

.time-address-info {
  h4{
    margin-bottom: 20px;
  }

  .order-address, .order-time {
    font-weight: 400;
  }
}

.help-block {
  font-size: 12px;
}

#next-button {
  float: right;
  width: 100px;
  margin: 20px 15px 10px 0px;
  background: linear-gradient(rgb(245, 175, 72), @mainColor);
  border-color: darken(@mainColor, 10%);
  color: white;

  &:focus {
    outline: 0px;
  }
}

.google-maps {
  padding-left: 50px;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  margin-top: 10px;
}

body {
  background: rgb(240, 240, 240);
}

