<% include common/header.ejs %>

<div class="main-container container-fluid">
    <div class="row">
        <div class="left-side">
            <div class="contact-form-1">
                <div class="form-description">
                    <i class="glyphicon glyphicon-copy icon-white"></i>
                    Контактні дані
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal">
                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputName" name="inputName" placeholder="Ім’я Прізвище">
                                </div>
                                <span class="help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                                </span>
                            </div>
                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input  class="form-control" type="text" id="inputPhone" name="inputPhone" placeholder="+380994010999">
                                </div>
                                <span class="help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                                </span>
                            </div>
                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputAddress" name="inputAddress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                                <span class="help-block" style="display:none">
                                Введіть адресу доставки піци
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 time-address-info">
                        <div class="bs-callout bs-callout-warning">
                            <h4>Інформація про замовлення</h4>
                            <p>
                                <b>Приблизний час доставки: </b>
                                <b class="order-time">невідомий</b>
                            </p>
                            <p>
                                <b>Адреса доставки: </b>
                                <b class="order-address">невідома</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group next-step-wrap">
                        <button  type="button" class="btn btn-warning btn-block" id="next-button">
                            Далі
                            <i class="glyphicon glyphicon-chevron-right icon-white"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="googleMap" class="google-maps">

            </div>
        </div>

        <div id="cart">
            <div class="separate" id="cart-header">
                <span> Замовлення <span class="badge"></span> </span>
                <a id="clear" type="button" class="btn btn-default">
                    <p>Очистити</p>
                    <p>замовлення</p>
                </a>
            </div>
            <div id="orders">
                <div class="empty-cart">
                    <p>Пусто в холодильнику?</p>
                    <p>Замовте пiцу!</p>
                </div>
                <!-- all orders in cart go here -->
            </div>
            <div class="separate" id="cart-bottom">
                <p>
                    <span>Сума замовлення</span>
                    <span id="sum">0 грн</span>
                </p>
                <p><a type="button" class="btn" id="return-to-list"> Редагувати замовлення </a></p>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>