

<div class="bottom-row">
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доставка піци не здійснюється</p>
</div>

<div class="discount">
    <img src="assets/images/discount.svg">
    <p>ЦЬОГО</p>
    <p>ТИЖНЯ</p>
    <p>НА ВСЕ</p>
    <hr>
    <p>-20%</p>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--INSERT HERE GOOGLE MAPS CODE -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD23maLWLQigeXXOCxVn_2-hZ7NCvc3Hp4"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>
